@import "public/styles/variables";

.heroContainer {
  min-height: 100vh;
  position: relative;
  background-color: $off-grey;
  padding: 200px 0 100px 0;
  overflow: hidden;
  @media only screen and (min-width: $breakpoint-sm) {
    padding: 140px 0 100px 0;
  }
  h1 {
    margin-bottom: 15px;
  }

  .subtitle {
    max-width: 250px;
    line-height: 24px;
  }

  .textRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .imageRow {
    overflow: hidden;
    img {
      position: absolute;
      top: 100px;
      right: 50%;
      transform: translateX(50%);
      opacity: 0.5;
      width: 800px;
      pointer-events: none;

      @media only screen and (min-width: $breakpoint-sm) {
        width: unset;
        transform: translateX(0);
        right: 0;
        max-width: 100%;
      }
      @media only screen and (min-width: $breakpoint-md) {
        position: relative;
        top: unset;
        opacity: 1;
      }
    }
  }
}
