.root {
  display: block;
  box-sizing: border-box;
  height: 100%;

  nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }

  main {
    display: flex;
    min-height: 100%;
    flex-direction: column;
  }
  @media (min-width: 769px) {
  }
}
