@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../../src/assets/fonts/Roboto-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../../src/assets/fonts/Roboto-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../../src/assets/fonts/Roboto-Bold.ttf") format("ttf");
}
