// Breakpoints
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;

// Grid Gutters
$gutters: 20px;
$gutters-sm: 30px;
$gutters-lg: 30px;

// Grid Lateral margins
$grid-margins: 20px;
$grid-margins-sm: 30px;
$grid-margins-lg: 60px;

// Grid
$grid-columns: 12;
$grid-max-width: 1600px;
